/* === RESET === */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* === ROOT LAYOUT === */
.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  background-color: hsl(197, 24%, 94%);
  position: relative;
  overflow-x: hidden;
}
.root-layout .main {
  padding-top: 5rem;
}

/* === COMPONENTS === */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;
  position: fixed;
  width: 100%;
  height: 150px;
  background-repeat: repeat-x;
  background-size: contain;
  z-index: 99;
}
.navbar .navbar__logo .navbar__logo__text {
  font-size: 2.5rem;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
}
.navbar .navbar__links {
  display: flex;
  gap: 1rem;
}
.navbar .navbar__links .navbar__items {
  list-style: none;
  font-weight: 500;
  font-size: 1.25rem;
  position: relative;
}
.navbar .navbar__links .navbar__items a {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  position: relative;
  display: inline-block;
  padding-bottom: 0.3rem;
}
.navbar .navbar__links .navbar__items a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: hsl(235, 21%, 21%);
  z-index: -1;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}
.navbar .navbar__links .navbar__items a:hover::before {
  transform: scaleX(1);
}

@media only screen and (max-width: 650px) {
  .navbar {
    background-size: cover;
  }
  .navbar .navbar__links {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    gap: 2rem;
    width: 70vw;
    height: 100vh;
    background-color: hsl(235, 21%, 21%);
    padding-top: 10rem;
    transition: all 0.5s ease-in-out;
  }
}
.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}

.cover {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: absolute;
  border: 1px solid red;
  z-index: -1;
}
.cover img {
  width: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
.cover img:nth-child(1) {
  margin-left: 10%;
  transform: rotate(5deg);
}
.cover img:nth-child(2) {
  transform: rotate(-5deg);
  margin-right: 10%;
}
.cover img:nth-child(3) {
  transform: rotate(5deg);
  margin-left: 20%;
}

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  width: 500px;
  height: 500px;
}
.contact__form .contact__form__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.contact__form input {
  padding: 0.5rem;
  border-radius: 5px;
}
.contact__form textarea {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.contact__form small {
  font-size: 0.8rem;
  color: hsl(350, 96%, 43%);
}
.contact__form .contact__form__button {
  background-color: hsl(350, 96%, 43%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  margin-top: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact__form .contact__form__button:hover {
  background-color: hsl(353, 86%, 54%);
}

.default {
  border: 1px solid #ccc;
}

.error {
  border: 2px solid hsl(350, 96%, 43%);
}

@media only screen and (max-width: 650px) {
  .contact__form {
    width: 100%;
    height: 100%;
  }
}
.success {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 2rem 1rem;
  border: none;
  border-radius: 10px;
  position: absolute;
  transition: all 0.3s ease-in-out;
  z-index: 99;
}
.success .success__icon {
  width: 30px;
  height: 30px;
  color: white;
}
.success .success__text {
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
}

.success--hidden {
  opacity: 0;
  top: -100%;
}

.success--visible {
  opacity: 1;
  top: 5%;
}

/* === PAGES === */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 5rem;
  min-height: 100vh;
  padding: 1rem;
}
.home .home__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.home .home__content .home__content__greeting {
  font-size: 2rem;
  font-weight: 700;
  color: hsl(235, 21%, 21%);
}
.home .home__content .home__content__name {
  font-size: 3rem;
  font-weight: 700;
  color: hsl(235, 21%, 21%);
}
.home .home__content .home__content__button {
  background-color: hsl(350, 96%, 43%);
  color: hsl(0, 0%, 100%);
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.home .home__content .home__content__button:hover {
  background-color: hsl(353, 86%, 54%);
  transform: scale(1.1);
}
.home .home__content .home__content__button:active {
  background-color: hsl(235, 21%, 21%);
  transform: scale(1);
}
.home .home__image {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home .home__image .home__image__profile {
  outline: 10px solid hsl(350, 96%, 43%);
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(15deg);
  width: 60%;
  height: 60%;
}

@media only screen and (max-width: 650px) {
  .home {
    flex-direction: column-reverse;
    padding: 10rem 1rem 1rem 1rem;
    text-align: center;
  }
  .home .home__content__name {
    line-height: 1.2;
  }
}
.projects {
  padding: 10rem 1rem;
}
.projects .projects__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.projects .projects__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 1rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}
.projects .projects__container .projects__container__card {
  border: none;
  border-radius: 10px;
  padding: 1rem;
  text-align: justify;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.projects .projects__container .projects__container__card .projects__container__card__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.2;
}
.projects .projects__container .projects__container__card .projects__container__card__description {
  text-indent: 1rem;
}
.projects .projects__container .projects__container__card .projects__container__card__button {
  position: relative;
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  margin-top: auto;
  transition: all 0.3s ease-in-out;
}
.projects .projects__container .projects__container__card .projects__container__card__button.no-content {
  cursor: not-allowed;
  background-color: hsl(197, 24%, 94%);
}
.projects .projects__container .projects__container__card .projects__container__card__button.content {
  cursor: pointer;
  background-color: hsl(350, 96%, 43%);
}
.projects .projects__container .projects__container__card .projects__container__card__button.content:hover {
  background-color: hsl(353, 86%, 54%);
}
.projects .projects__container .projects__container__card .projects__container__card__button .tooltip-text {
  opacity: 0;
  border: none;
  border-radius: 10px;
  padding: 1rem 1rem 2rem 1rem;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
          clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  position: absolute;
  left: 0;
  transform: translate(0, -100%);
  background-color: hsl(235, 21%, 21%);
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.projects .projects__container .projects__container__card .projects__container__card__button .tooltip-text:hover {
  opacity: 1;
}

.about {
  padding: 10rem 1rem;
  display: flex;
  flex-direction: column;
}
.about .about__title {
  font-size: 4rem;
  font-weight: 700;
  margin: 0 auto 1rem auto;
}
.about .about__profile {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
}
.about .about__profile .about__profile__image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: auto;
  border: 5px solid hsl(235, 21%, 21%);
}
.about .about__profile .about__profile__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .about__profile .about__profile__name {
  font-size: 2rem;
  font-weight: 700;
}
.about .about__container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
}
.about .about__container .about__description {
  max-width: 800px;
  margin-top: 2rem;
  text-align: justify;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.about .about__container .about__description:nth-child(1) {
  background: linear-gradient(to right, hsl(350, 96%, 43%) 80%, transparent);
}
.about .about__container .about__description:nth-child(2) {
  background: linear-gradient(to left, hsl(353, 86%, 54%) 80%, transparent);
}
.about .about__container .about__description:nth-child(3) {
  background: linear-gradient(to right, hsl(353, 86%, 54%) 80%, transparent);
}
.about .about__container .about__description:nth-child(4) {
  background-color: hsl(350, 96%, 43%);
}
.about .about__container .about__description .about__description__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .about__container .about__description .about__description__header .about__description__title {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.about .about__container .about__description .about__description__header .about__description__header__icon {
  width: 100px;
}
.about .about__container .about__description .about__description__header h1 {
  font-size: 2.5rem;
}
.about .about__container .about__description .about__description__text {
  font-size: 1.2rem;
  line-height: 1.5;
}
.about .about__container .about__description .about__description__button {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 0%);
  font-weight: 500;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 10px;
  margin-top: auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.about .about__container .about__description .about__description__button:hover {
  transform: scale(1.2);
  background-color: hsl(353, 86%, 54%);
}

hr {
  margin: 1rem auto;
}

#description {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: hsl(350, 96%, 43%);
  margin: 0 auto 5rem auto;
  border: none;
  border-radius: 10px;
  max-width: 800px;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  font-size: 1.2rem;
}

#beyond {
  margin-left: auto;
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 10rem auto 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 650px) {
  .about .about__container {
    background-size: 0%;
  }
  .about .about__container .about__description:nth-child(1), .about .about__container .about__description:nth-child(2), .about .about__container .about__description:nth-child(3) {
    background: linear-gradient(180deg, hsl(350, 96%, 43%), hsl(353, 86%, 54%));
  }
}
.contact {
  padding: 10rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
}
.contact .contact__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  text-align: center;
  height: 50vh;
}
.contact .contact__header .contact__title__text {
  font-size: 4rem;
  font-weight: 800;
}
.contact .contact__header .contact__profile {
  width: 200px;
}
.contact .contact__container .contact__social {
  margin-top: 1rem;
  text-align: center;
}
.contact .contact__container .contact__social .contact__social__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.contact .contact__container .contact__social .contact__social__icons img {
  width: 2rem;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
  .contact {
    flex-direction: column;
    padding: 10rem 1rem 1rem 1rem;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */