$colorPrimary-Red-900: hsl(350, 96%, 43%);
$colorPrimary-Red-800: hsl(353, 86%, 54%);
$colorPrimary-Red-700: hsl(6, 94%, 44%);
$colorPrimary-Red-600: hsl(10, 79%, 65%);
$colorPrimary-Red-500: hsl(13, 100%, 72%);
$colorPrimary-Red-400: hsl(18, 100%, 75%);
$colorPrimary-Red-300: hsl(22, 100%, 78%);
$colorPrimary-Red-200: hsl(25, 100%, 81%);
$colorPrimary-Red-100: hsl(28, 100%, 84%);

$colorNeutral-White: hsl(0, 0%, 100%);

$colorNeutral-Gray-100: hsl(197, 24%, 94%);
$colorNeutral-Light-Gray-100: hsl(218, 17%, 62%);
$colorNeutrail-Dark-Blue-100: hsl(235, 21%, 21%);

$colorNeutral-Black-100: hsl(0, 0%, 0%);
