@use '../variables.scss' as *;

.about {
  padding: 10rem 1rem;

  display: flex;
  flex-direction: column;

  .about__title {
    font-size: 4rem;
    font-weight: 700;
    margin: 0 auto 1rem auto;
  }
  .about__profile {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;

    .about__profile__image {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      overflow: hidden;
      margin: auto;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .about__profile__name {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  .about__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .about__description {
      max-width: 800px;
      margin-top: 2rem;
      text-align: justify;
      border: none;
      border-radius: 10px;
      padding: 1rem;
      color: $colorNeutral-White;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      &:nth-child(1) {
        background: linear-gradient(
          to right,
          $colorPrimary-Red-900,
          transparent
        );
      }

      &:nth-child(2) {
        background: linear-gradient(
          to left,
          $colorPrimary-Red-800,
          transparent
        );
      }

      &:nth-child(3) {
        background: linear-gradient(
          to right,
          $colorPrimary-Red-800,
          transparent
        );
      }

      &:nth-child(4) {
        background-color: $colorPrimary-Red-900;
      }

      .about__description__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .about__description__title {
          font-size: 2rem;
          font-weight: 700;
          margin-bottom: 1rem;
        }

        .about__description__header__icon {
          width: 100px;
        }

        h1 {
          font-size: 2.5rem;
        }
      }

      .about__description__text {
        font-size: 1.2rem;
        line-height: 1.5;
      }

      .about__description__button {
        background-color: $colorNeutral-White;
        color: $colorNeutral-Black-100;
        font-weight: 500;
        padding: 0.5rem 1rem;

        border: none;
        border-radius: 10px;

        margin-top: auto;

        cursor: pointer;

        transition: all 0.3s ease-in-out;

        &:hover {
          transform: scale(1.2);
          background-color: $colorPrimary-Red-800;
        }
      }
    }
  }
}

hr {
  margin: 1rem auto;
}

#description {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: $colorPrimary-Red-900;
  margin: 0 auto 5rem auto;
  border: none;
  border-radius: 10px;
  max-width: 800px;
  padding: 1rem;
  color: $colorNeutral-White;

  text-align: center;
  font-size: 1.2rem;
}

#beyond {
  margin-left: auto;
}

#connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 10rem auto 0 auto;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 650px) {
  .about {
    .about__container {
      background-size: 0%;
      .about__description {
        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(3) {
          background: linear-gradient(
            180deg,
            $colorPrimary-Red-900,
            $colorPrimary-Red-800
          );
        }
      }
    }
  }
}
