@use '../variables.scss' as *;

.projects {
  padding: 10rem 1rem;

  .projects__title {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .projects__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding: 1rem;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 10px;

    .projects__container__card {
      border: none;
      border-radius: 10px;
      padding: 1rem;
      text-align: justify;

      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);

      background-color: $colorNeutral-White;

      display: flex;
      flex-direction: column;
      gap: 1rem;

      .projects__container__card__title {
        font-size: 1.5rem;
        font-weight: 600;
        line-height: 1.2;
      }

      .projects__container__card__description {
        text-indent: 1rem;
      }

      .projects__container__card__button {
        position: relative;
        color: $colorNeutral-White;
        font-weight: 500;
        padding: 0.5rem 1rem;

        text-decoration: none;

        border: none;
        border-radius: 10px;

        margin-top: auto;

        transition: all 0.3s ease-in-out;

        &.no-content {
          cursor: not-allowed;
          background-color: $colorNeutral-Gray-100;
        }

        &.content {
          cursor: pointer;
          background-color: $colorPrimary-Red-900;

          &:hover {
            background-color: $colorPrimary-Red-800;
          }
        }

        .tooltip-text {
          opacity: 0;

          border: none;
          border-radius: 10px;
          padding: 1rem 1rem 2rem 1rem;
          clip-path: polygon(
            0% 0%,
            100% 0%,
            100% 75%,
            75% 75%,
            75% 100%,
            50% 75%,
            0% 75%
          );
          position: absolute;
          left: 0;
          transform: translate(0, -100%);
          background-color: $colorNeutrail-Dark-Blue-100;
          font-size: 12px;

          transition: all 0.3s ease-in-out;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }
}
