@use '../variables.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;

  background-color: $colorPrimary-Red-900;

  .navbar__logo {
    .navbar__logo__text {
      font-size: 2rem;
      font-weight: 700;
      color: $colorNeutral-White;
    }
  }

  .navbar__links {
    display: flex;
    gap: 1rem;

    .navbar__items {
      list-style: none;
      font-weight: 500;
      a {
        text-decoration: none;
        color: $colorNeutral-White;
      }
    }
  }
}
