@use '../variables.scss' as *;

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 4rem;

  background-color: $colorPrimary-Red-900;

  position: fixed;

  width: 100%;

  .navbar__logo {
    .navbar__logo__text {
      font-size: 2rem;
      font-weight: 700;
      color: $colorNeutral-White;
    }
  }

  .navbar__links {
    display: flex;
    gap: 1rem;

    .navbar__items {
      list-style: none;
      font-weight: 500;
      a {
        text-decoration: none;
        color: $colorNeutral-White;
      }
    }
  }
}

@media (max-width: 650px) {
  .navbar {
    .navbar__links {
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      gap: 2rem;
      width: 70vw;
      height: 100vh;
      background-color: $colorNeutrail-Dark-Blue-100;

      padding-top: 10rem;

      transition: all 0.5s ease-in-out;
    }
  }
}

.open {
  transform: translateX(0);
}

.close {
  transform: translateX(100%);
}
