@use '../variables.scss' as *;

.root-layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-family: 'Poppins', Arial, Helvetica, sans-serif;

  background-color: $colorNeutral-Gray-100;

  position: relative;

  overflow-x: hidden;
}
